.margin-zero {
  margin: 0;
}

.page {
  width: 75%;
  margin-left: 12.5%;
}

.offer, .offer_center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #F3F5F7;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  height: 40px;
}

.offer_center {
  width: 25%;
}

.offer_close {
  font-size: 28px;
  font-weight: 300;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77.7%;
  padding-left: 11.15%;
  padding-right: 11.15%;
  align-items: center;
  height: 60px;
}

.head_logo {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.head_section-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  font-family: Space Grotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.head_section {
  color: #6C7275;
}

.head_buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.slider {
  width: 77.7%;
  padding-left: 11.15%;
  padding-right: 11.15%;
  position: relative;
}

.slide_img {
  width: 100%;
}

.slide_button-left {
  position: absolute;
  width: 84px;
  top: 35.5%;
  left: 13%;
}

.slide_button-right {
  position: absolute;
  width: 84px;
  top: 35.5%;
  right: 13%;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77.7%;
  padding-left: 11.15%;
  padding-right: 11.15%;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.description_item1 {
  font-family: Poppins;
  font-size: 72px;
  font-weight: 500;
  line-height: 76px;
  letter-spacing: -2px;
  text-align: left;
}

.description_back {
  color: #6C7275;
}

.description_item2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #6C7275;
  padding-right: 48px;
}

.description_label {
  font-weight: 600;
  color: #343839;
}

.rooms-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77.7%;
  padding-left: 11.15%;
  padding-right: 11.15%;
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  padding-top: 48px;
  width: 77.7%;
  padding-left: 11.15%;
  padding-right: 11.15%;
}

.new-arrivals_img {
  position: relative;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.new-arrivals_img-info {
  position: absolute;
  top: 5%;
  left: 5%;
}

.new-arrivals_new, .new-arrivals_discount {
  text-align: center;
  padding: 4px 14px 4px 14px;
  margin-bottom: 4px;
  width: 43px;
}

.new-arrivals_discount {
  background-color: #38CB89;
  color: white;
  border-radius: 4px;
}

.new-arrivals_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  font-weight: 500;
  letter-spacing: -0.4;
}

.new-arrivals_text-item1 {
  width: 20%;
  font-family: Poppins;
  font-size: 40px;
  line-height: 44px;
}

.new-arrivals_text-item2 {
  font-family: Inter;
  font-size: 16px;
  line-height: 28px;
}
.new-arrivals_text-item2:link {
  color: black;
}
.new-arrivals_text-item2:visited {
  color: #6C7275;
}

.new-arrivals_goods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  overflow-x: scroll;
  padding-bottom: 48px;
}

.new-arrivals_goods-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-arrivals_description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: Inter;
  font-weight: 600;
}

.new-arrivals_name {
  font-size: 16px;
  line-height: 26px;
}

.new-arrivals_price {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  line-height: 22px;
}

.new-arrivals_price-old {
  color: #6C7275;
  font-weight: 400;
  text-decoration: line-through;
}

.pros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px 160px 48px 160px;
  gap: 24px;
}

.pros_item {
  background-color: #F3F5F7;
  width: 198px;
  height: 130px;
  padding: 48px 32px 48px 32px;
  font-family: Poppins;
}

.pros_text {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 8px;
}

.pros_main {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.pros_sub {
  color: #6C7275;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.info2 {
  display: flex;
  flex-direction: row;
}

.info2_offer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 30%;
  background-color: #F3F5F7;
  padding: 100px 160px 100px 72px;
}

.info2_offer-sale-up {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #377DFF;
}

.info2_offer-head {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.info2_offer-desc {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.info2_offer-link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4;
}
.info2_offer-link a:link {
  color: black;
}
.info2_offer-link a:visited {
  color: #6C7275;
}

.articles {
  padding: 80px 160px 80px 160px;
}

.articles_header {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4;
  padding-bottom: 40px;
}

.articles_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articles_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.articles_name {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.articles_read {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4;
}
.articles_read:link {
  color: black;
}
.articles_read:visited {
  color: #6C7275;
}

.newsletter {
  position: relative;
}

.newsletter_block {
  position: absolute;
  top: 25%;
  left: 33%;
  text-align: center;
  width: 34%;
}

.newsletter_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.newsletter_header {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4;
}

.newsletter_desc {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}

.newsletter_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 0.5px #AFB3B5;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4;
  color: #6C7275;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 80px 160px 32px 160px;
  gap: 49px;
  color: white;
  background-color: #141718;
}

.footer_company {
  display: flex;
  flex-direction: row;
}

.footer_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_company-logo {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  padding-right: 30px;
  border-right: solid 0.5px #6C7275;
}

.footer_company-caption {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 30px;
}

.footer_nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.footer_nav-buttons a:link {
  color: white;
  text-decoration: none;
}
.footer_nav-buttons a:visited {
  color: white;
  text-decoration: none;
}

.footer_sources {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 0.5px #404446;
  padding-top: 15px;
}

.footer_copyright {
  display: flex;
  flex-direction: row;
  gap: 28px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.footer_copyright-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.footer_social {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/*# sourceMappingURL=home_page1.css.map */
