.margin-zero{
    margin: 0;
}
.enter-page {
    display: flex;
    flex-direction: row;
    width: 1440px;
    padding-left: 240px;
}
.enter-page_logo {
    position: relative;
    text-align: center;
    color: black;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}
.enter-page_logo-text {
    position: absolute;
    top: 3%;
    left: 40%;
}
.enter-page_img-top {
    display: none;
}
.enter-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 456px;
    padding: 220px 160px 220px 88px;
}
.enter-block_head {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.enter-block_head-title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
}
.enter-block_head-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #6C7275;
}
.enter-block_head-link {
    color: #38CB89;
    font-weight: 600;
}
.enter-block_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.enter-block_form-field {
    border: 0;
    border-bottom: 1px solid #E8ECEF;
    height: 40px;
}

.enter-block_agreement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.75%;
}

.enter-block_agreement-box {
    width: 5.3%;
    height: 80%;
    margin: 0;
    padding: 0;
    border: 0;
}

.enter-block_agreement-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #6C7275;
    width: 350px;
}

.enter-block_agreement-link {
    font-weight: 600;
    color: black;
}

.enter-block_button {
    padding: 2% 8% 2% 8%;
    border: 0;
    border-radius: 8px;
    height: 7%;
    color: white;
    background-color: black;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.enter-block_button:hover {
    background-color: #7D542E;
}

@media only screen and (max-width: 1080px){
    .enter-page {
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }
    .enter-page_img-top {
        display: block;
        width: 100%;
    }
    .enter-page_img-left {
        display: none;
    }
    .enter-page_logo-text {
        position: absolute;
        top: 10%;
        left: 40%;
    }
    .enter-block {
        width: auto;
        padding: 8%;
        gap: 96px;
    }
    .enter-block_head {
        gap: 96px;
    }
    .enter-block_form-field {
        padding-top: 1%;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    .enter-block_agreement-text {
        font-size: 14px;
    }
}